/*title {
  i("assets/images/favicon.ico");
}*/

/*NAVIGATION  BAR*/
.navigation-bar {
  border: 1px solid #bcbaba;
  background-color: #e5e3e3;
}

/*LEFT SIDE*/
.left-side{
    border-right: 1px solid #bcbaba;
}

.image-profile,
.image-profile2 {
  border-radius: 100%;
  width: 10%;
  margin: 2% 0% 2% 0%;
}

.glyphicon-th,
.glyphicon-envelope,
.glyphicon-plus {
  color:#7c7979;
  font-size: 120%;
}

#btn-menu {
  margin-left: 65%;
  background: none;
  border: none;
}

#btn-options,
#btn-options2,
#btn-plus {
  background: none;
  border: none;
}

/*RIGHT SIDE*/
.right-side{
  margin-right: 0%;
}

.image-profile2 {
  border-radius: 50%;
  width: 160%;
  margin-top: 50%;
}

.title-right {
  font-weight: bold;
}

.subtitle-right {
  font-size: 80%;
  margin-top: 0%;
}

.names-container {
  line-height: 10%;
}

.options-container {
  left: 30%;
  margin-top: 2%;
}

/*ASIDE*/
.form-group {
  width: 100%;
  text-align: center;
}

#input-search {
  width: 325px;
  margin-left: 5px;
  margin: 3% 0% 3% 0%;
}


/*CONVERSATIONS*/
.messages {
  background-image: url("../images/chat-panel-bg.png");
  background-color: #cec6c6;
}

.first {
  background-color: white;
  border-radius: 5px;
  width: 25%;
  margin: 4% 0% 0% 4%;
}

.name1 {
  color: blue;
  font-weight: bold;
}

.name2 {
  color: orange;
  font-weight: bold;
}

.name3 {
  color: purple;
  font-weight: bold;
}

.second {
  background-color: #c4edc4;
  border-radius: 5px;
  margin-left: 70%;
}

.you {
  margin: 2%;
}

/*INPUT MESSAGES*/
.message-input {
  margin-top: 6%;
  width: 100%;
  background-color: #e5e3e3;
  padding: 2%;
}

#input-conversation {
  width: 740px;
  border-radius: 5px;
  margin-left: 1%;
}

/*USERS*/

.imagelab {
  width: 100%;
  border-radius: 80px;
}

.title-users{
  font-weight: bold;
}

.title-users,
.subtitle-users {
  line-height: 70%;
}

.users {
  margin: 3% 0% 2% 0%;
  padding-bottom: 3%;
  border-bottom: 1px solid #bcbaba;
}
